
@{
    ViewBag.Title = "Contract";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<h2>Contract</h2>
<style>
    .lh{
        width:100%;
        height: 70%;
        border: 1px; 
        border-style:solid;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>LIÊN HỆ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</></li>
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Contract</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    
    <section>
        <table class="lh">
            <tr>
                <td>TÊN</td>
                <td>PHONE</td>
                <td>GMAIL</td>
            </tr>
            <tr>
                <td>VTL</td>
                <td>09112</td>
                <td>!@@gmail</td>
            </tr>
            <tr>
                <td>VTL</td>
                <td>09112</td>
                <td>!@@gmail</td>
            </tr>
            <tr>
                <td>VTL</td>
                <td>09112</td>
                <td>!@@gmail</td>
            </tr>
            <tr>
                <td>VTL</td>
                <td>09112</td>
                <td>!@@gmail</td>
            <tr>
                <td>VTL</td>
                <td>09112</td>
                <td>!@@gmail</td>
            </tr>
            <tr>
                <td>VTL</td>
                <td>09112</td>
                <td>!@@gmail</td>
            </tr>
            </tr>
        </table>
    </section>
</main>